
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:lightgray;
}

header li {
    float: right;

}

header li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-size: 40px;
    padding: 8px 10px;
    text-decoration: none;
    height: 56px;
    width: 250px;

}

header li a:hover {
    background-color: rgb(222, 244, 252);
    color: #333;
    height: 56px;
    width: 250px;
}

body {
    font-family: 'Sono', sans-serif;
    text-align: center;
}
header h1 {
    font-size: 180%;
    color: white;
    text-align: center;
}

footer img {
    width: 40px;
    padding-top: 5%;
    }
    

footer ul {
    list-style-type: none;
    margin: 0;
    padding-right: 366px;
    overflow: hidden;
    background-color:#d3d3d3;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-size: 40px;
    padding: 8px 10px;
    text-decoration: none;
    height: 56px;
    width: 150px;

}

li a img{
   width: 50px;
   margin: 0;
   padding: 0;
}

li a:hover {
    background-color: #def4fc;
    color: #333;
    height: 56px;
}

footer {
    bottom: 0%;
    position: relative;
}

div img {
    width: 100%;
    }

input {
    background-color: #cec1c1;
    color: white;
    width: 40%;
    height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 0%;
}

.textarea {
    height: 150px;
    background-color: #cec1c1;
    color: white;
    width: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 0%;
}

.button {
	padding: 10px 10px;
	background-color: #cec1c1;
	color: #FFF;
    position: relative;
    margin-right: 37%;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #def4fc;
    color: black;
}
