
header ul {
    list-style-type: none;
    margin: 0;
    padding-right: 18%;
    overflow: hidden;
    background-color:lightgray;
}

header li {
    float: right;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    font-family: 'Sono', sans-serif;
    font-size: 35px;
    text-decoration: none;
    height: 56px;
    width: 250px;
}

.logo {
    width: 100px;
}

.logo:hover {
    width: 100px;
 }

header li a img{
   width: 55px;
   margin: 0;
   padding: 0;
}

header li a img:hover {
    width: 10px;
}


header li a:hover {
    background-color: #def4fc;
    color: #333;
    height: 56px;
    width: 250px;
}


body {
    font-family: 'Sono', sans-serif;
    text-align: center;
}

footer li a {
    margin: 10%;
    padding: 10%;
}

footer img {
    width: 40px;
    opacity: calc(0.3);
    display: flex;
}

footer img:hover {
    opacity: calc(1) ;
}

footer ul {
    list-style-type: none;
    padding-right: 10px;
    overflow: hidden;
    display: flex;
    align-content: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    background-color:#d3d3d3;
}

.icon {
    width: 50px;
    margin: 1%;
}

.icon:hover {
    width: 50px;
    transition: 0,2s;
}

.reihe3 {
    margin-bottom: 15px;
}

.reihe1:hover, .reihe2:hover, .reihe3:hover {
    transition: 1s;
    transform: scale(115%);
} 

.reihe1 {
    margin-bottom: 10px;
    margin-top: 5px;
}

.reihe2 {
    margin-bottom: 10px;
}

.hoverbild:hover {
    transition: 1s;
    transform: scale(105%);
}

.banner {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 1;
    width: 300px;
}

.banner:hover {
    transition: 1s;
    transform: scale(110%);    
}

.slideshow{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.wrapper {
    display: flex;
    width: 100%; 
}

div img {
    width: 100%;
}

