body {
    text-align: center;
    background: linear-gradient(to left, #ffacac , #b7efff);
}

h1 {
    color: #ffffff;
    font-family: 'Lobster';
    font-size: 80px;
    height: 100px;
    margin: 0px;
    padding-top: 60px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.wrapper {
    text-align: center;
    position: relative;
    width: 1600px;
    left: 50%;
    transform: translateX(-50%);
}



.box {
    background-size: cover;
}

#counter {
    color: rgb(255, 255, 255);
}

#inputTodo {
    width: 400px;
    height: 30px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}


.divLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.fa-trash-alt {
    opacity: 60%;
    font-size: 20px;
    color: rgb(99, 99, 99);
    cursor: pointer;

}

.fa-trash-alt:hover {
    cursor: pointer;
    opacity: 100%;
}

.checkBox {
    cursor: pointer;
}


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');